In [1]:
import sys

sys.path.append('/workspaces/llm-zoomcamp-project/')

from cards import make_table_cards, make_column_cards, make_example_cards

In [2]:
example_cards = make_example_cards()

In [3]:
prompt_template = """
You emulate a student who's taking our course.
Formulate 5 questions this student might ask based on a FAQ record. The record
should contain the answer to the questions, and the questions should be complete and not too short.
If possible, use as fewer words as possible from the record. 

The record:

section: {section}
question: {question}
answer: {text}

Provide the output in parsable JSON without using code blocks:

["question1", "question2", ..., "question5"]
""".strip()

In [4]:
import os
from dotenv import load_dotenv

load_dotenv()
api_key = os.getenv("OPENAI_API_KEY")

In [5]:
from openai import OpenAI
client = OpenAI(api_key=api_key)

In [ ]:
def generate_questions(doc):
    prompt = prompt_template.format(**doc)

    response = client.chat.completions.create(
        model='gpt-4o',
        messages=[{"role": "user", "content": prompt}]
    )

    json_response = response.choices[0].message.content
    return json_response

In [9]:
for doc in example_cards: 
    full_text = doc.get('text', '') # Safely get the 'text' value

    if full_text:
        # 1. Find the index where the SQL part begins (after the newline)
        try:
            # Split the string by the newline character ('\n')
            question_part = full_text.split('\n')[0]

            # 2. Clean up any trailing/leading whitespace (optional but good practice)
            question = question_part.strip()
            
            print(question)
        except IndexError:
            # Handle cases where the string might not contain a newline
            print(f"Error processing: {full_text.strip()}")

Q: average bed height for Jig-1 in last 10 hours
Q: tailings chrome by machine in last 24 hours
Q: hourly make-up water flow for Jig-2 yesterday
Q: average pulsation frequency for all machines in the last 6 hours
Q: average water flow for Jig-2 in the last 3 days
Q: average clayness index for each machine yesterday
Q: correlation between clayness index and tailings chrome for Jig-1 in the last 12 hours
Q: maximum bed height for each machine today
Q: hourly average of water flow and clayness for Jig-1 over the last 8 hours
Q: difference between maximum and minimum bed height for Jig-2 in the last day
Q: hourly average tailings chrome for each machine today
Q: number of telemetry records collected per sensor in the last 24 hours
Q: average chrome content in tailings per area during the last week
Q: count of machines in the Flotation area
Q: which machine has the sensor with the highest average clayness index over the last week
Q: average water flow when tailings chrome was above 0.5 percent on Jig-4
Q: list all sensors that haven't reported a reading in the last hour
Q: average pulsation frequency for Jig-1 compared to Jig-2 over the last week
Q: list plant areas where the average tailings Cr2O3 percentage was above 0.3 this month

In [3]:
example_cards

[{'type': 'example',
  'text': "Q: average bed height for Jig-1 in last 10 hours\nSQL: SELECT AVG(t.value) AS avg_bed_height_mm FROM telemetry t JOIN sensors s ON t.sensor_id=s.sensor_id JOIN machines m ON s.machine_id=m.machine_id WHERE s.name='bed_height_mm' AND m.name='Jig-1' AND t.ts >= CURRENT_TIMESTAMP - INTERVAL '10 hours';"},
 {'type': 'example',
  'text': "Q: tailings chrome by machine in last 24 hours\nSQL: SELECT m.name, AVG(l.tailings_cr2o3_pct) AS avg_cr FROM lab_samples l JOIN machines m ON l.machine_id=m.machine_id WHERE l.ts >= CURRENT_TIMESTAMP - INTERVAL '24 hours' GROUP BY m.name ORDER BY m.name;"},
 {'type': 'example',
  'text': "Q: hourly make-up water flow for Jig-2 yesterday\nSQL: SELECT date_trunc('hour', t.ts) AS h, AVG(t.value) AS water_m3h FROM telemetry t JOIN sensors s ON t.sensor_id=s.sensor_id JOIN machines m ON s.machine_id=m.machine_id WHERE s.name='water_flow_m3h' AND m.name='Jig-2' AND t.ts::date = (CURRENT_DATE - INTERVAL '1 day')::date GROUP BY 1 ORDER BY 1;"},
 {'type': 'example',
  'text': "Q: average pulsation frequency for all machines in the last 6 hours\nSQL: SELECT m.name, AVG(t.value) AS avg_pulsation_hz FROM telemetry t JOIN sensors s ON t.sensor_id = s.sensor_id JOIN machines m ON s.machine_id = m.machine_id WHERE s.name = 'pulsation_freq_hz' AND t.ts >= CURRENT_TIMESTAMP - INTERVAL '6 hours' GROUP BY m.name ORDER BY m.name;"},
 {'type': 'example',
  'text': "Q: average water flow for Jig-2 in the last 3 days\nSQL: SELECT AVG(t.value) AS avg_water_m3h FROM telemetry t JOIN sensors s ON t.sensor_id = s.sensor_id JOIN machines m ON s.machine_id = m.machine_id WHERE s.name = 'water_flow_m3h' AND m.name = 'Jig-2' AND t.ts >= CURRENT_TIMESTAMP - INTERVAL '3 days';"},
 {'type': 'example',
  'text': "Q: average clayness index for each machine yesterday\nSQL: SELECT m.name, AVG(t.value) AS avg_clayness FROM telemetry t JOIN sensors s ON t.sensor_id = s.sensor_id JOIN machines m ON s.machine_id = m.machine_id WHERE s.name = 'clayness_index' AND t.ts::date = (CURRENT_DATE - INTERVAL '1 day')::date GROUP BY m.name ORDER BY m.name;"},
 {'type': 'example',
  'text': "Q: correlation between clayness index and tailings chrome for Jig-1 in the last 12 hours\nSQL: SELECT corr(t.value, l.tailings_cr2o3_pct) AS corr_value FROM telemetry t JOIN sensors s ON t.sensor_id = s.sensor_id JOIN machines m ON s.machine_id = m.machine_id JOIN lab_samples l ON l.machine_id = m.machine_id WHERE s.name = 'clayness_index' AND m.name = 'Jig-1' AND t.ts >= CURRENT_TIMESTAMP - INTERVAL '12 hours' AND l.ts >= CURRENT_TIMESTAMP - INTERVAL '12 hours';"},
 {'type': 'example',
  'text': "Q: maximum bed height for each machine today\nSQL: SELECT m.name, MAX(t.value) AS max_bed_height_mm FROM telemetry t JOIN sensors s ON t.sensor_id = s.sensor_id JOIN machines m ON s.machine_id = m.machine_id WHERE s.name = 'bed_height_mm' AND t.ts::date = CURRENT_DATE GROUP BY m.name ORDER BY m.name;"},
 {'type': 'example',
  'text': "Q: hourly average of water flow and clayness for Jig-1 over the last 8 hours\nSQL: SELECT date_trunc('hour', t.ts) AS hour, AVG(CASE WHEN s.name = 'water_flow_m3h' THEN t.value END) AS avg_water_flow, AVG(CASE WHEN s.name = 'clayness_index' THEN t.value END) AS avg_clayness FROM telemetry t JOIN sensors s ON t.sensor_id = s.sensor_id JOIN machines m ON s.machine_id = m.machine_id WHERE m.name = 'Jig-1' AND s.name IN ('water_flow_m3h','clayness_index') AND t.ts >= CURRENT_TIMESTAMP - INTERVAL '8 hours' GROUP BY hour ORDER BY hour;"},
 {'type': 'example',
  'text': "Q: difference between maximum and minimum bed height for Jig-2 in the last day\nSQL: SELECT MAX(t.value) - MIN(t.value) AS bed_height_range_mm FROM telemetry t JOIN sensors s ON t.sensor_id = s.sensor_id JOIN machines m ON s.machine_id = m.machine_id WHERE s.name = 'bed_height_mm' AND m.name = 'Jig-2' AND t.ts >= CURRENT_TIMESTAMP - INTERVAL '24 hours';"},
 {'type': 'example',
  'text': "Q: hourly average tailings chrome for each machine today\nSQL: SELECT m.name, date_trunc('hour', l.ts) AS hour, AVG(l.tailings_cr2o3_pct) AS avg_cr FROM lab_samples l JOIN machines m ON l.machine_id = m.machine_id WHERE l.ts::date = CURRENT_DATE GROUP BY m.name, hour ORDER BY m.name, hour;"},
 {'type': 'example',
  'text': "Q: number of telemetry records collected per sensor in the last 24 hours\nSQL: SELECT s.name AS sensor_name, COUNT(*) AS record_count FROM telemetry t JOIN sensors s ON t.sensor_id = s.sensor_id WHERE t.ts >= CURRENT_TIMESTAMP - INTERVAL '24 hours' GROUP BY s.name ORDER BY record_count DESC;"},
 {'type': 'example',
  'text': "Q: average chrome content in tailings per area during the last week\nSQL: SELECT m.area, AVG(l.tailings_cr2o3_pct) AS avg_cr FROM lab_samples l JOIN machines m ON l.machine_id = m.machine_id WHERE l.ts >= CURRENT_TIMESTAMP - INTERVAL '7 days' GROUP BY m.area ORDER BY m.area;"},
 {'type': 'example',
  'text': "Q: count of machines in the Flotation area\nSQL: SELECT COUNT(machine_id) FROM machines WHERE area = 'Flotation';"},
 {'type': 'example',
  'text': "Q: which machine has the sensor with the highest average clayness index over the last week\nSQL: WITH weekly_avg AS (   SELECT s.machine_id, AVG(t.value) AS avg_clayness   FROM telemetry t JOIN sensors s ON t.sensor_id = s.sensor_id   WHERE s.name = 'clayness_index'   AND t.ts >= CURRENT_TIMESTAMP - INTERVAL '7 days'   GROUP BY 1 ) SELECT m.name FROM machines m JOIN weekly_avg wa ON m.machine_id = wa.machine_id ORDER BY wa.avg_clayness DESC LIMIT 1;"},
 {'type': 'example',
  'text': "Q: average water flow when tailings chrome was above 0.5 percent on Jig-4\nSQL: SELECT AVG(t.value) AS avg_water_flow FROM telemetry t JOIN sensors s ON t.sensor_id=s.sensor_id JOIN machines m ON s.machine_id=m.machine_id WHERE s.name='water_flow_m3h' AND m.name='Jig-4' AND EXISTS (   SELECT 1 FROM lab_samples l   WHERE l.machine_id = m.machine_id   AND l.tailings_cr2o3_pct > 0.5   AND t.ts::date = l.ts::date );"},
 {'type': 'example',
  'text': "Q: list all sensors that haven't reported a reading in the last hour\nSQL: SELECT s.name, s.description FROM sensors s LEFT JOIN telemetry t ON s.sensor_id = t.sensor_id AND t.ts >= CURRENT_TIMESTAMP - INTERVAL '1 hour' WHERE t.ts IS NULL;"},
 {'type': 'example',
  'text': "Q: average pulsation frequency for Jig-1 compared to Jig-2 over the last week\nSQL: SELECT   AVG(CASE WHEN m.name = 'Jig-1' THEN t.value END) AS avg_pulsation_jig1,   AVG(CASE WHEN m.name = 'Jig-2' THEN t.value END) AS avg_pulsation_jig2 FROM telemetry t JOIN sensors s ON t.sensor_id=s.sensor_id JOIN machines m ON s.machine_id=m.machine_id WHERE s.name='pulsation_freq_hz' AND m.name IN ('Jig-1', 'Jig-2') AND t.ts >= CURRENT_TIMESTAMP - INTERVAL '7 days';"},
 {'type': 'example',
  'text': "Q: list plant areas where the average tailings Cr2O3 percentage was above 0.3 this month\nSQL: SELECT m.area, AVG(l.tailings_cr2o3_pct) AS avg_cr_pct FROM lab_samples l JOIN machines m ON l.machine_id=m.machine_id WHERE date_trunc('month', l.ts) = date_trunc('month', CURRENT_TIMESTAMP) GROUP BY m.area HAVING AVG(l.tailings_cr2o3_pct) > 0.3 ORDER BY 2 DESC;"}]